@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
html,
body {
	height: 100%;
	font-family: 'Droid Sans',Helvetica,Arial,Verdana,sans-serif;
	min-width: 986px;
}
/* header */
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 5;
}
header>div{
	float: left;
	position: relative;
}
.logo{
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	width: 200px;
	margin: 15px 0;
}
.logo-text{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.search>input{
	margin: 14px 0 8px;
	width: 150px;
}
.search>button{
	margin: -1px 0 0 -5px;
	height: 25px;
	padding: 3px 12px;
}
.action-bar{
	float: right;
	padding: 10px 0;
}
.action-bar>.btn{
	margin: 10px 0;
}

/* categories-menu */ 
.categories-menu{
	position: fixed;
	top: 55px;
	left: 0;
	z-index: 5;
	background-color: #fff;
	width: 100%;
}
.categories-menu ul{
	margin: 0;
	padding: 0;
}
.categories-menu .category{
	position: relative;
}
.categories-menu .has-children>.glyphicon{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 16px;
	right: -7px;
}
.categories-menu .submenu{
	display: none;
	position: fixed;
	left: 137px;
	z-index: 4;
	top: 100px;
}
.categories-menu .category{
	display: block;
}
.categories-menu>ul>.category{
	float: left;
}
.categories-menu a{
	display: block;
	color: rgb(85, 85, 85);
	font-size: 18px;
	background-color: #fff;
	padding: 10px 22px 10px 22px;
}
.categories-menu a:hover{
	background-color: #428BCA;
	color: #fff;
	text-decoration: none;
}
.categories-menu .has-children:hover .submenu{
	display: block;
}

/* content */
.content-wrapper{
	padding: 155px 0 10px 10px;
	background-color: #eee;
}

/* product */
.product-wrapper{
	background-color: #fff;
	width: 220px;
	margin: 5px;
	position: relative;
	float: left;
	z-index: 3;
}
.product{
	display: block;
	min-height: 290px;
}
.product:hover{
	text-decoration: none;
}
.product-image{
	height: 220px;
	width: 220px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.product > .product-image-hover{
	position: absolute;
	height: 220px;
	width: 220px;
	top: 220px;
	left: 0;
	top: 0;
	opacity: 0;
	background-image: url("/img/product_image_hover.png");
	-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
}
.product .product-author{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 18px;
	color: white;
}
.product:hover > .product-image-hover{
	opacity: 1;
	text-decoration: none;
}
.product > .product-name{
	font-size: 18px;
	color: #555;
	font-weight: bold;
	margin: 0 10px;
}
.product > .product-stars-wrapper{
	margin: 0 10px;
}
.product > .product-stars-wrapper > .product-stars{
	background-image: url("/img/stars.png");
	background-repeat: no-repeat;
	height: 20px;
}
.product-stars-0{ width: 1px;}
.product-stars-1{ width: 10%;}
.product-stars-2{ width: 20%;}
.product-stars-3{ width: 30%;}
.product-stars-4{ width: 40%;}
.product-stars-5{ width: 50%;}
.product-stars-6{ width: 60%;}
.product-stars-7{ width: 70%;}
.product-stars-8{ width: 80%;}
.product-stars-9{ width: 90%;}
.product-stars-10{ width: 100%;}
.product > .product-price{
	font-size: 18px;
	color: #555;
	font-style: italic;
	margin: 0 10px;
}

/* footer */
footer{
	font-size: 18px;
}
footer > a {
	display: block;
	font-family: Arial;
	padding: 10px 28px;
	background-color: #428BCA;
	color: white;
}
footer > a > .author {
	color: #428BCA;
	font-weight: bold;
	color: white;
}
footer > a:hover , footer > a:hover > .author {
	background-color: #F0AD4E;
	text-decoration: none;
	color: white;
}

/* login */

.site-login{
	padding: 20px 0 20px 100px;
}
.site-login .form-control{
	width: 200px;
}


/* user registration */

.site-registration{
	padding: 20px 0 20px 100px;
}
.site-registration .form-control{
	width: 200px;
}

.site-registration #registrationform-gmail{
	display: inline;
}

@media(min-width:768px){
	.action-bar>.btn{
		margin: 0 10px;
	}
}
@media(min-width:992px){
	.search>input{
		width: 330px;
	}
	.categories-menu a{
		padding: 10px 22px 10px 22px;
	}
}
@media(min-width:1200px){
	.content-wrapper{
		padding: 110px 0 10px 10px;
	}
}